*{
    margin: 0;
    background-color:   #161748;
}

 
.main{
    /*background-color: blue;*/
    height: 700px;
    width: 900px;
    font-weight: 200px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.event{
    height: 200px;
    /*background-color: red;*/
    float: left;
    width: 50%;
    height: 100%;

}

.registration{
    height: 200px;
    /*background-color: green;*/
    float: right;
    width: 50%;
    height: 100%;
}

.name{
   /*background-color: blueviolet;*/
    margin-top: 100px;
    height: 500px;
    padding-top: 50px;
}
.name-content{
    padding: 10px;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    /*background-color: brown;*/
}

.generix{
    font-size: 45px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans','Roboto Mono', monospace;
    /*background-color: aqua;*/
    padding-left: 70px;
    animation: neon .08s ease-in-out infinite alternate;
    
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

  .year{
  
    padding-left: 100px;
    padding-right: auto;
  }

  .date{
    padding-left: 10px;
    height: 100px;
    margin-top: 100px;
    /*background-color:red;*/
    color: azure;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .event-year{
    color: azure;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 350px;
    margin-top: 20px;
    height: 50px;
    /*background-color: cornflowerblue;*/
    font-family: 'Josefin Sans', sans-serif;

  }
.event-name{
    padding-left: 100px;
   padding-top: 10px;
   font-size: 30px;
   color: azure;
   font-family: 'Poppins', sans-serif;
    /*background-color: crimson;*/
    height: 50px;
}
.button-class{
    width: 100%;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: aqua;*/
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#view{
    margin-left:10pxpx;
  float: right;

}